body {
    margin: 0;
    font-family: 'Wix Madefor Text', sans-serif;
}

header {
   grid-area: header;
   align-items: center;
   gap: 15px;
   padding: 15px;
    background-color: #FBE4FF; /* Cor do header */
    padding: 10px 20px; /* Espaçamento interno */
    height: auto;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 95px;
    height: auto; /* Mantém a proporção da imagem */
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin-left: auto; /* Alinha os links à direita */
    gap: 20px; /* Espaço entre os links */
}

.navbar-links li a {
    background-color: #97A2FF; /* Cor do botão */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 12px; /* Cantos arredondados */
    transition: background-color 0.3s;
}

.navbar-links li a:hover {
    background-color: #7A8CCB; /* Cor ao passar o mouse */
}

/* Estilos para o botão de hambúrguer */
.menu-hamburguer {
    display: none; /* Oculta por padrão */
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Oculta os links do menu normal */
    }

    .menu-hamburguer {
        display: block; /* Mostra o botão de hambúrguer */
        cursor: pointer;
        font-size: 24px; /* Ajuste conforme necessário */
    }
}

/* Footer da laura */
footer {
  background-color: #f8f9fa;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #333;
  font-family: Arial, sans-serif;
  border-top: 2px solid #ccc;
}

.footer-coluna {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-coluna h2 {
  font-size: 20px;
  color: #4b0082; /* roxo */
  margin-bottom: 10px;
}

.footer-coluna p,
.footer-coluna a {
  font-size: 14px;
  color: #444;
  margin: 4px 0;
  text-decoration: none;
}

.footer-coluna a:hover {
  text-decoration: underline;
  color: #2e8b57; /* verde escuro */
}

.app-disponivel p:first-child {
  font-weight: bold;
  margin-top: 10px;
}

.footer-rodape {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 13px;
  color: #777;
}